PROJECT_NAME=BloodProject

POSTGRES_USER=bh_user
POSTGRES_PASSWORD=ExampleStrongPass1231337ForBlood
POSTGRES_DB=Blood_project

NEO4J_USER=neo4j
NEO4J_SECRET=ExampleStrongPass1231337ForBlood

BLOODHOUND_PORT=8080
NEO4J_WEB_PORT=7474
NEO4J_DB_PORT=7687
